@import "variuable";
@import "mixin";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $container-bg;

    .container-header {
        background-color: $header-bg;
        color: $header-text;
        width: 100%;

        .container-header__nav {
            padding: 15px;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-between;
            align-items: center;
        }
    }

    .container-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 2rem 5rem;

        .container-body__getstart {
            @include forum;
        }

        .container-body__products{
            @include products;
        }

        .container-body__about {
            p {
                text-align: right;
            }
        }
    }

    .container-footer {
        margin-top: 20px;
        padding: 15px;
        background-color: $footer-bg;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        align-items: center;

        .copyright {
            flex-direction: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            align-items: center;

            .footer-icon,
            p {
                color: $footer-text;
                margin-bottom: 10px;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            a {
                font-weight: normal;
            }
        }

        h3 {
            color: $footer-text;
        }
    }
}